.frameChild {
  top: 0;
  left: 6px;
  background-color: var(--color-dimgray);
  width: 390px;
  height: 844px;
}
.frameChild,
.loading,
.skip {
  position: absolute;
}
.skip {
  top: 811px;
  left: 338px;
  cursor: pointer;
}
.loading {
  top: 780px;
  left: 151px;
  font-weight: 600;
  color: var(--color-white);
  display: inline-block;
  width: 270px;
}
.capture{
  top: 740px;
  left: 150px;
  font-weight: 600
}
.Web{
  top: 320px;
  left: 37px;
  border-radius: var(--br-26xl);
  width: 324px;
  height: 870px; 
  flex: 1
}
.qrCodeWallStickersVinylDe {
  position: absolute;
  top: 227px;
  left: 37px;
  border-radius: var(--br-26xl);
  background-color: #e8e8e8;
  width: 324px;
  height: 370px;
}
.frameItem {
  position: absolute;
  top: 128px;
  left: 41px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 320px;
  height: 75px;
}
.pleaseScanThe {
  position: absolute;
  top: 146px;
  left: 73px;
  font-size: var(--font-size-base);
  font-weight: 500;
  display: inline-block;
  width: 270px;
}
.frameInner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  width: 397px;
  height: 95px;
}
.driverVerification {
  position: absolute;
  top: 45px;
  left: 88px;
  font-size: var(--font-size-mini);
  font-family: var(--font-ubuntu);
}
.download1Icon {
  position: absolute;
  top: 36px;
  left: 41px;
  width: 34px;
  height: 34px;
  object-fit: cover;
}
.rectangleParent {
  position: absolute;
  top: 0;
  left: -6px;
  width: 421px;
  height: 844px;
}
.userVerification {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 844px;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-4xl);
  color: var(--color-black);
  font-family: var(--font-lato);
}
